:root {
    --primary-color: #0e103d; /* Dark Blue */
    --secondary-color: #69306d; /* Purple */
    --accent1-color: #a5668b; /* Mauve */
    --accent2-color: white; /* White */

    /* Typography */
    --heading-font: 'IM Fell French Canon SC', serif;
    --paragraph-font: 'Lato', Helvetica, sans-serif;
    
header {
    background-color: white;
    color: #FFFFFF;
    width: auto;
    text-align: center;
}

.topnav a.icon {
    background: var(--primary-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

#home {
    text-align: left;
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: blue;
    font-family: 'Times New Roman', sans-serif;
}

.topnav ul li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    background-color: var(--accent1-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.temple-card img {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.topnav {
    overflow: hidden;
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.topnav ul {
    list-style: none;
}

.topnav #menu {
    display: none;
}

.topnav a,
.topnav h1 {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: whitesmoke;
}

figure,
figcaption {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

footer {
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}
