:root {
    --primary-color: #0e103d; /* Dark Blue */
    --secondary-color: #69306d; /* Purple */
    --accent1-color: #a5668b; /* Mauve */
    --accent2-color: white; /* White */
}

/* Mobile Styles */
@media screen and (max-width: 700px) {
    body {
        background-color: var(--primary-color);
        color: var(--accent2-color);
    }

    .topnav {
        position: relative;
        background-color: var(--accent1-color); /* Mauve */
        color: var(--accent2-color);
    }

    .topnav .navigation {
        flex-direction: column;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .navigation {
        flex-direction: column;
    }

    .topnav.responsive #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: auto;
        text-align: left;
        background-color: var(--secondary-color); /* Purple */
    }

    .topnav.responsive #menu li {
        display: block;
        margin: 0;
        padding: 1rem;
    }

    main {
        flex-direction: column;
        padding: 20px;
    }

    .res-grid {
        display: grid;
        grid-template-columns: 1fr; /* Only one column */
        grid-gap: 20px;
        justify-items: center;
    }

    .res-grid img {
        max-width: 300px; /* Restricting maximum width */
        padding: 10px; /* Adding padding */
        background-color: white; /* White padding around the images */
    }

    #menu {
        display: none;
    }

    #menu.responsive {
        display: flex;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive .navigation {
        display: block;
        position: relative;
    }

    .topnav.responsive .navigation a {
        float: none;
        display: block;
        text-align: left;
    }

    .secondary-nav {
        background-color: var(--secondary-color); /* Purple */
        color: var(--accent2-color); /* White */
        padding: 20px;
        font-size: 1.2rem; /* Larger font size */
    }
}

/* Desktop Styles */
@media screen and (min-width: 700px) {
    body {
        background-color: var(--primary-color);
        color: var(--accent2-color);
    }

    header {
        display: flex;
        background-color: var(--accent2-color);
        color: var(--primary-color);
        padding: 10px 20px;
    }

    header h1 {
        flex: 1;
        color: var(--primary-color);
    }

    .topnav #menu {
        display: flex;
        text-align: center;
        padding: 1.5rem;
        text-decoration: none;
        justify-content: space-between;
        padding-left: 4rem;
        float: right;
        flex: 1;
        background-color: var(--accent1-color);
        color: var(--accent2-color);
    }

    #menu {
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: var(--accent1-color);
        color: var(--accent2-color);
    }

    .res-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        justify-items: center;
    }

    .res-grid img {
        max-width: 300px; /* Restricting maximum width */
        padding: 10px; /* Adding padding */
        background-color: white; /* White padding around the images */
    }

    #temple-figures {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: space-around;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
        color: var(--secondary-color);
    }

    @media screen and (min-width: 1024px) {
        #temple-figures {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .secondary-nav {
        background-color: var(--secondary-color); /* Purple */
        color: var(--accent2-color); /* White */
        padding: 20px;
        font-size: 1.2rem; /* Larger font size */
    }
}
