/* Mobile Styles */
@media screen and (max-width: 700px) {
    body {
        background-color: var(--primary-color);
        color: var(--accent2-color);
    }

    .topnav {
        position: relative;
    }

    .topnav .navigation {
        flex-direction: column;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .navigation {
        flex-direction: column;
    }

    .topnav.responsive #menu {
        display: flex;
        flex-direction: column;
        position: relative;
        width: auto;
        text-align: left;
        background-color: var(--secondary-color);
    }

    .topnav.responsive #menu li {
        display: block;
        margin: 0;
        padding: 1rem;
    }

    main {
        flex-direction: column;
        padding: 20px;
    }

    .image-column,
    .content-column {
        padding: 20px;
    }

    #menu {
        display: none;
    }

    #menu.responsive {
        display: flex;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive .navigation {
        display: block;
        position: relative;
    }

    .topnav.responsive .navigation a {
        float: none;
        display: block;
        text-align: left;
    }
}
