body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    /* flex: 1; */
    padding: 1em;
    /* max-width: 600px; */
    /* margin: 0 auto; */
}

form {
    /* display: flex; */
    max-width: 600px;
    margin: 0 auto;
    /* padding: 1em; */
    background: #fff;
    border-radius: 5px;
    padding: 1em;
    /* flex-direction: column; */
}

div {
    margin-bottom: 1em;
    /* display: block; */
    unicode-bidi: isolate;
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: .5em;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    border: 0;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #555;
}

.rating-container {
    display: flex;
    font-size: 1.2em;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;
}

.rating-item{
    display: block;
    flex-direction: column-reverse;
    margin: 0 10px;
    justify-content: center;
}


.rating-container input[type="radio"] {
    margin-top: 30px;
}

.rating label {
    font-size: 1em;
    cursor: pointer;
    
}

.rating input[type="radio"]:checked + label {
    color: goldenrod;
}
  
.tick-box {
    margin-bottom: 20px;
}
  
.tick-box label {
    display: inline-flex;
    margin-bottom: 1px;
  }
  
.tick-box input[type="radio"] {
    margin-right: 5px;
  }

.feature-container {
    margin-top: 30px;
    margin-bottom: 40px;
}

.optional {
    font-size: smaller;
    color: blue;
}

@media (max-width: 600px) {
    .rating-container {
        flex-direction: column;
        align-items: center;
    }

    .rating-item {
        margin: 10px 0;
    }

    .rating-container label {
        font-size: 1.2em;
    }
}
/* .rating > input {
    display: none;
} */